<div class="container p-4">
    <div class="modal-header">
        <h6 class="modal-title" id="settingsModalLabel">How to use this Timer?</h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" class="btn-close ms-10" (click)="closeDialog()" style="font-size: x-large;"></button>
      </div>
      
    <hr>
    <div class="modal-body">
        <div class="pomodoro container">        
            <ol class="features__list-ol">
              
              <li><strong>Add tasks</strong> to work on today</li>
              <li>
                <strong>Set estimate time interval</strong> (1 = 25min of
                work) for each tasks
              </li>
              <li>
                <strong>Start timer</strong> and focus on the task for 25
                minutes
              </li>
              <li>
                <strong>Take a break</strong> for 5 minutes when the alarm
                ring
              </li>
              <li>
                <strong>Iterate</strong> 3-5 until you finish the tasks
              </li>
            </ol>
          </div>
<hr>
          <div class="features container">
            <strong class="catchcopy__header">Basic Features</strong><br><br>
            <ul class="features__list">
         
              <li>
                <strong>Custom Settings:</strong> Personalize your
                focus/break time,& alarm sounds .
              </li>
            </ul>
          </div>

    </div>

  </div>