<div class="container p-4">
  <div class="modal-header">
    <h6 class="modal-title" id="settingsModalLabel">ဤ Timer ကို အသုံးပြုမည်နည်း?</h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn-close ms-10" (click)="closeDialog()" style="font-size: x-large;"></button>
  </div>

  <hr>
  <div class="modal-body">
    <div class="pomodoro container">
      <ol class="features__list-ol">
        <li><strong>Add Task: </strong> လုပ်ဆောင်ရန်အလုပ် အားအရင် ထည့်ပါ</li>
        <li>
          <strong>Set estimate Time: </strong> (၁ = ၂၅ မိနစ်)အချိန်ခန့်မှန်းမှုအကြိမ် ကို တစ်ခုချင်းစီအတွက် သတ်မှတ်ပါ
        </li>
        <li>
          <strong>Start timer: </strong>၊ သတ်မှတ်ထားသော အလုပ်ကို ၂၅ မိနစ်အထိ အာရုံစိုက်ပါ
        </li>
        <li>
          <strong>Take a break: </strong> ၅ မိနစ် အနားယူပါ
        </li>
        <li>
          <strong>လုပ်ဆောင်ပါ: </strong> — ၃ မှ ၅ ကြိမ်ထပ်၍ အလုပ်ကို ပြီးမြောက်အောင်လုပ်ပါ
        </li>
      </ol>
    </div>
    <hr>
    <div class="features container">
      <strong class="catchcopy__header">အခြေခံ လုပ်ဆောင်ချက်များ</strong><br><br>
      <ul class="features__list">
        <li>
          <strong>ကိုယ်ပိုင်ချိန်ညှိမှု:</strong> အာရုံစိုက်ချိန်၊ အနားယူချိန်နှင့် သံမြည်အသံများကို ကိုယ်တိုင်ပြင်ဆင်နိုင်သည်။
        </li>
      </ul>
    </div>
  </div>
</div>
